<h1>Sections#new</h1>
<p>Find me in app/views/sections/new.html.erb</p>

<%= form_for @section do |f| %>
    <% if @section.errors.any? %>
        <ul>
          <% @section.errors.full_messages.each do |message| %>
          <li><%= message %></li>
              <% end %>
        </ul>
        <% end %>
    <p>
      <%= f.label :section_name %>
      <%= f.text_field :section_name %>
    </p>
    <p>
      <%= f.submit "Add New section" %>
    </p>

    <% end %>

