<h1>Teachers#index</h1>
<p>Find me in app/views/teachers/index.html.erb</p>


<table>
  <tr>
    <td>List all Teacher</td>
    <td><%= link_to "Add new Teacher", new_teacher_path %></td>
  </tr>

  <tr>
    <td>ID</td>
    <td>Teacher Name</td>
    <td>Action</td>
  </tr>

      <% @@i=0 %>
      <% teachers.each do |item| %>
          <tr>
            <td><%= @@i=@@i+1 %></td>
            <td><%= item.teacher_name %></td>
            <td>
              <%= link_to 'Show', item %> |
              <%= link_to "Edit", edit_teacher_path(item)  %> |
              <%= link_to "Delete", item, :confirm => "Are you sure?", :method => :delete  %>
            </td>
          </tr>

      <% end %>



  <tr>
    <td>
      Total number of data is: <%= teachers.count %>
    </td>
    <td><%= link_to "Add new Teacher", new_teacher_path %></td></tr>


</table>

